certifi==2021.10.8
charset-normalizer==2.0.10
cssselect==1.1.0
Deprecated==1.2.13
idna==3.3
lxml==4.7.1
ml-simple-notify==0.0.4
packaging==21.3
parsel==1.6.0
powerline-status==2.7
pyparsing==3.0.7
redis==4.1.1
requests==2.27.1
schedule==1.1.0
six==1.16.0
urllib3==1.26.8
w3lib==1.22.0
wrapt==1.13.3
